In [7]:
import pandas as pd
df = pd.read_csv("Belize_Airbnb_listings.csv")
df.head()
df.groupby("neighbourhood")[["price","number_of_reviews","availability_365"]].mean()

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824          17.647736        295.970837
Belize Mainland        288.273063          15.147601        261.014760
Cayo                   205.847525          14.566337        259.249505
Corozal                156.553846           7.569231        278.676923
Orange Walk            122.035714          14.821429        261.928571
Stann Creek Islands   1136.166667           5.750000        248.083333
Stann Creek Mainland   456.994690           8.470796        277.872566
Toledo Mainland        222.978723           4.127660        234.744681

In [8]:
#Quasion 2) Take the following list and create a new list from the square of each value
og_list= [2,4,6,8,10,12,14]
new_list=[x**2 for x in og_list]
print(new_list)

[4, 16, 36, 64, 100, 144, 196]

In [9]:
#Quasion 3) 
#Take the same list from the previous question and create a new list but where each value is â…” of the original values

og_list= [2,4,6,8,10,12,14]
new_list =[x*2/3 for x in og_list]
print(new_list)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666667, 8.0, 9.333333333333334]

In [10]:
#Quesion 4) 
#Write a list comprehension or function to lowercase all the keys in the below dictionary.
#The data represents how many pounds of each fruit a canning company is ordering


#Why did you choose the mechanism you did to lowercase the keys?
# Answer: I think it is easy to write and easy to understand


dict={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}
dict2 = {key.lower():value for key,value in dict.items()}
print(dict2)

{'apples': 1500, 'cranberries': 2000, 'pears': 2500, 'cherries': 1600, 'plums': 2400, 'peaches': 13600, 'oranges': 7}